<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
        <link rel="stylesheet" href="../../public/styles/base/reset.css">
        <link rel="stylesheet" href="../../public/styles/partials/chatbot.css">
        <link rel="stylesheet" href="../../public/fonts/themify-icons/themify-icons.css">
    </head>
    <body>
        <div class="chatbot" tabindex = "-1">
            <div class="chatbot-container">
                <div class="container-header">
                    <i class="ti-wheelchair chatbot-logo"></i>
                    <h2>Hoang Redmi</h2>
                </div>

                <div class="container-message">
                    <div class="message bot">
                        Mình có thể giúp gì cho bạn?
                    </div>
                <div class="message user">
                        dit me may nha 
                    </div>
                </div>

                <div class="container-input">
                  <input type="text" class ="text-input" placeholder="Aa">
                  <button class="send-btn">Gửi</button>
                </div>
            </div>
        </div>

        <script src="../../public/scripts/chatbot.js"></script>
    </body>

</html>