<header class=header>
  <div class=header__left>
    <button class=header__menu-btn aria-label="Open menu">
      <img alt="toggle menu" src=/images/toggle-menu.png>
    </button>
    <a class=header__logo href="/">
      <img alt=Logo src=/images/coderhome-logo.png class=header__logo-img>
    </a>
    <label aria-label=Search class=header__search><img alt="search icon" src=/images/search-icon.png class=header__search-icon>
      <input class=header__search-input placeholder=Search type=search>
    </label>
  </div>
  <div class=header__right>
    <a class=header__write-btn href=/posts/new title=Write>
      <img alt="write icon" src=/images/write-icon.png>
      <span>Write</span>
    </a>
    <button class=header__notification-btn title=Notifications>
      <img alt="notification icon" src=/images/notification-icon.png>
    </button>
    <img alt="Your avatar" src="<%= profilePicture %>" class=header__avatar>
  </div>
</header>