<nav>
  <a href="/">Home</a>
  <a href="/posts/new">New Post</a>

  <% if (isLoggedIn) { %>
  <a href="/profile">Hi, <%= username %>!</a>
  <a href="/logout">Logout</a>
  <% } else { %>
  <a href="/login">Login</a>
  <a href="/register">Register</a>
  <% } %>
</nav>