<div class="toggle-menu__overlay" id="menuOverlay"></div>
<aside class="toggle-menu" id="toggleMenu">
  <nav class="toggle-menu__nav">
    <a href="/" class="toggle-menu__item is-active">
      <!-- Home Icon -->
      <img class="toggle-menu__icon" src="/images/home-icon.png" alt="home icon">
      <span>Home</span>
    </a>
    <a href="/library" class="toggle-menu__item">
      <!-- Library/Bookmark Icon -->
      <img src="/images/bookmark-icon.png" alt="bookmark icon" class="toggle-menu__icon">
      <span>Library</span>
    </a>
    <a href="/profile" class="toggle-menu__item">
      <!-- Profile Icon -->
      <img src="/images/profile-icon.png" alt="profile icon" class="toggle-menu__icon">
      <span>Profile</span>
    </a>

    <hr class="toggle-menu__divider">

    <a href="/following" class="toggle-menu__item">
      <!-- Heart/Following Icon -->
      <img src="/images/like-icon.png" alt="like icon" class="toggle-menu__icon">
      <span>Following</span>
    </a>
  </nav>
</aside>