body{
    margin: 0;
    background-color: #13101c;
}

h2{
    margin: 0;
}

#main{
}
/* font */
@font-face {
    font-family: 'Lora';
    src: url(../fonts/Lora/Lora-VariableFont_wght.ttf), format(truetype);
}

@font-face {
    font-family: 'robto';
    src: url(../fonts/Roboto_Condensed/RobotoCondensed-Medium.ttf), format(truetype);
}

/* header part */


.header_container{
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: fixed;
    top: 25px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    padding: 0 50px;
    width: 80%;
    height: 65px;
    align-items: center;
    z-index: 10000;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.header_container .container_logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_logo a{
    display: inline-block;
}

.container_logo .logo_img{
    width: 10em;
    display: block;
}

.header_container .container_btn{
    margin-right: 50px;
    position: absolute;
    right: 0;
    padding: 14px 20px;
    border-radius: 1.5em;
    color: white;
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    font-size: 0.8em;
}

/*body part*/
#main .main_body{
}

.body_welcome{
    padding: 0 6%;
    background-color: #13101c;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: url('/images/pages/about-main-bg.png');
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
}

.star{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    animation: animate 8s ease-in-out infinite;
}

.star.star1{
    animation-delay: 0s;
    background-image: url(../images/star1.png);
}

.star.star2{
    animation-delay: 1s;
    background-image: url(../images/star2.png);
}

.star.star3{
    animation-delay: 2s;
    background-image: url(../images/star3.png);
}

.star.star4{
    animation-delay: 3s;
    background-image: url(../images/star4.png);
}

@keyframes animate{
    0%, 20%, 40%, 60%, 80%, 100%
    {
        opacity: 0;
    }
    10%, 30%, 50%, 70%, 90%
    {
        opacity: 1;
    }
}

.body_welcome .welcome_text{
    font-family: 'lora';
    font-size: 1.5vw;
    position: relative;
    top: 50px;
    flex-direction: column; 
    align-items: center;   
    text-align: center;    
    display: flex; 
}

.welcome_text h2{
    background: linear-gradient(90deg, #6dd5fa, #c471ed, #f64f59);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientMove 5s infinite linear;
    padding-top: 23px;
}

.welcome_text .text_caption{
    display:inline-flex;
    align-items: center;
    background-color: #32375f;
    border-radius: 2em;
    padding: 4px 16px;
    text-align: center;
    gap: 1vh;
}

.text_caption img{
    width: 3.5vh;
    vertical-align: middle;
}

.text_caption h3{
    margin:0;
    font-size: 1vw;
    color: white;
}

.main_body .body_content{
    height: 90vh;
    display: flex;
    background-color: #13101c;
    overflow: hidden;
}

.body_content .content_container{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}

svg path{
    cursor:pointer;
    fill: rgb(36,36,36);
}

svg path:hover{
    fill:#ccc;
}

.img_blur{
    background-image: url(https://cdn.prod.website-files.com/6720dd1ab6df0da205830ab1/68760fa2a03250f66313c101_gradient-blur.avif);
    background-position: 50% 0;
    background-repeat: no-repeat;
    width: 100%;
    background-size: 100%;
    height: 58.5vw;
    inset: -12.7vw 0% auto;
    overflow: hidden;
    position: relative;
    top: 0px;
}

.img_blur .blur_text{
    padding-top:80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;

}

.img_blur .blur_img{
    width: 80px;
}

.img_blur .blur_text h1{
    margin:0;
    color:#fff;
    padding-top: 50px;
    font-size: 60px;
    font-family: 'lora';
}

.blur_text p{
    color: #a997ce;
    font-size: 23px;
    font-family: 'lora';
}

.body_script{
    width: 100%;
    height: 210vh;
    background-color: #f9f9f9;
    border-radius: 0 0 2em 2em;
    overflow: hidden;
}

.founder_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.founder_container .founder_caption{
    margin-top: 200px;
    display: inline-flex;
    font-family: 'lora';
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 1vw;
    background-color: #fff;
    border-radius: 2em;
    padding: 4px 16px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.founder_container .founder_caption h3{
    margin: 0;
    color: #000;
}

.founder_caption .img_caption{
    width: 45px;
}

.founder_container h2{
    padding-top: 30px;
    font-family: 'lora';
    font-size: 60px;
    color: #1A0B54;
}

.body_script .script_founder1{
    display: flex;
    justify-content: space-between;
    padding: 0 150px;
    gap: var(--space-xl);
    margin: var(--space-xl) 0;
}

.body_script .script_founder2{
    display: flex;
    justify-content: center;
    gap: var(--space-xl);
}

.script_founder1 .founder_item, .script_founder2 .founder_item{
    background-color: #fff;
    padding: 24px 24px;
    border-radius: 2em;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.script_founder1 .founder_img, .script_founder2 .founder_img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-position: cover;
}

.founder_item .item_text{
    text-align: center;
    font-family: 'lora';
}

.item_text .p_opa{
    opacity: 0.5;
    padding-bottom: 10px;
    font-size: 1vw;
}

.item_text .p_jus{
    text-align: justify;
}

.values_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.values_container .values_caption{
    margin-top: 250px;
    display: inline-flex;
    font-family: 'lora';
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 1vw;
    background-color: #fff;
    border-radius: 2em;
    padding: 9px 16px;
}

.values_container .values_caption h3{
    margin: 0;
    color: #000;
    padding-left: 15px;
}

.values_caption .img_values{
    width: 45px;
}

.values_container h2{
    padding-top: 100px;
    font-family: 'lora';
    font-size: 4.5vw;
    color: #1A0B54;
}

.script_values .life_box{
    display: flex;
    gap: 20px;
    padding-top: 80px;
    justify-content: center;
}

.life_box  .box {
    width: 150px;
    height: 150px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    border-radius: 20px;
    transition: all 0.8s ease;
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }

  .box span{
    background: linear-gradient(90deg, #6dd5fa, #c471ed, #f64f59);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientMove 5s infinite linear;
    font-weight: bold;
  }

  .short, .long {
    position: absolute;
    transition: opacity 0.4s ease, transform 0.4s ease;
    font-family: 'lora';
  }

  .long {
    opacity: 0;
    transform: translateY(10px);
  }

  .box:hover {
    width: 800px;
    border-radius: 40px;
  }

  .box:hover .short {
    opacity: 0;
    transform: translateY(-10px);
  }

  .box:hover .long {
    opacity: 1;
    transform: translateY(0);
  }


.world_map{
    background-color: #13101c;
    width: 100%;
    height: 230vh;
    border-radius: 0 0 2em 2em;
}

.world_map .map_text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.map_text .map_caption{
    display: inline-flex;
    align-items: center;
    font-family: 'lora';
    font-size: 0.8vw;
    background-color: #32375f;
    color: #fff;
    border-radius: 2em;
    padding: 9px 16px;
    margin-top: 150px;
}

.map_text .map_caption h3{
    margin: 0;
    padding-left: 10px;
}

.map_text h2{
    font-family: 'lora';
    font-size: 60px;
    color: #f9f9f9;
    padding-top: 60px;
    padding-bottom: 150px;
}

.map_caption .map_img{
    width: 25px;
}

.world_map .world_script{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.world_script .world_script_img{
    padding-top: 250px;
    width: 4.5vw;
}

.world_script h2{
    font-family: 'lora';
    color: #fff;
    padding-top: 100px;
    font-size: 50px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
}


.footer{
    background-color: #13101c;
    height: 75px;
    border-top: #000 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer nav li{
    display: inline-block;
    color: #fff;
    padding: 0 24px;
}

nav li a{
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    opacity: 0.5;
}

nav li a:hover{
    opacity: 1;
}

/*Reponsive header mobile & tablet*/
@media only screen and (max-width:1024px){
    .header_container{
        margin: 0;
        width: 85%;
        display: flex;
        justify-content: center;
        height: 50px;
    }
    .header_container .container_btn{
        display: none;
    }
    .container_logo{
        width: 40%;
    }

    .body_welcome{
        height: 90vh;
    }

    .container_logo .logo_img{
    width: 8em;
    }

    
}









