body {
  font-family: var(--font-family-heading);
  margin: 0;
  padding: 0;
  background-color: var(--color-surface);
  justify-items: center;
}

a {
  text-decoration: none;
  color: var(--color-medium-gray);
}

.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: center;
  max-width: 800px;
}

.page__title {
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-bold);
}

.scroll-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 12px 16px;
  font-size: 18px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background: #333;
  color: white;
  display: none;
  transition: all 0.3s ease-in;
}

.scroll-top:hover {
  background: #555;
}

/* Nav */
.following__nav {
  display: flex;
  gap: 1rem;
  margin: 2rem 0;
  width: 100%;
}

.nav__items {
  display: flex;
  padding: var(--space-md) var(--space-xxl);
  background-color: var(--color-gray-light);
  border: 2px solid var(--color-gray-light);
  border-radius: var(--border-radius-pill);
  transition: all 0.2s ease;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-lg);
}

.nav__items:hover {
  transform: scale(1.05);
  transform: translateY(-2px);
}

.nav__items.active {
  border-color: var(--color-gray-medium);
}

.nav__items.active:hover {
  cursor: pointer;
}

/* Topic */
.topic__nav {
  display: none;
  width: 100%;
  flex-direction: row;
  gap: 1rem;
  max-height: 0;
  transition: max-height 0.4s ease-in-out;
}

.topic__nav.active {
  display: flex;
  max-height: 20rem;
}

.dropdown__container {
  position: relative;
  display: inline-block;
  align-content: center;
  border-radius: 2rem;
  background-color: var(--color-gray-light);
  max-width: 16rem;
  cursor: pointer;
  z-index: 10;
  border: 2px solid var(--color-gray-medium);
}

.dropdown__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1rem;
  height: 2.5rem;
  border-radius: 2rem;
}

.dropdown__header:hover {
  cursor: pointer;
}

.dropdown__selection {
  display: flex;
  flex-direction: column;
  background-color: var(--color-gray-light);
  margin-top: 0.75rem;
  box-shadow: 0 2px 4px #606060;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 500;
}

.dropdown__container.active .dropdown__selection {
  max-height: 20rem;
}

.dropdown__item,
.dropdown__header-item {
  display: block;
  height: auto;
  padding: 0.75rem 2.5rem;
  transition: background-color 0.1s ease;
  border-radius: 0;
}

.dropdown__item:hover {
  background-color: #7d7d7d;
}

.arrow {
  align-self: center;
  margin: 0.75rem;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 0;
  border-bottom: 1px solid #111;
  border-left: 1px solid #111;
  transform: rotate(-45deg);
  transition: transform 0.3s ease;
}

.arrow.active {
  transform: rotate(135deg);
}

.ver__divider {
  display: flex;
  border: none;
  width: 2px;
  height: 100%;
  background-color: var(--color-gray-light);
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.topic__container {
  display: flex;
  position: relative;
  flex-direction: row;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.fade {
  position: absolute;
  top: 0;
  width: 7rem;
  height: 100%;
  pointer-events: none;
  z-index: 3;
  display: none;
}

.fade-left {
  left: 0;
  background: linear-gradient(to left, transparent, rgba(255, 255, 255, 0.9));
}

.fade-right {
  right: 0;
  background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.9));
}

.topic__content {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.topic {
  display: flex;
  position: relative;
  padding: 0.75rem 2.5rem;
  align-items: center;
  background-color: rgb(242, 242, 242);
  color: rgba(99, 99, 99, 0.964);
  border-radius: 2rem;
  z-index: 2;
}

.topic:hover {
  cursor: pointer;
}

.topic.active {
  color: rgb(0, 0, 0);
  border: 2px solid var(--color-gray-medium);
}

.scroll-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0);
  border: none;
  cursor: pointer;
  padding: 0.85rem 1.5rem;
  font-size: 1rem;
  opacity: 1;
  display: inherit;
  z-index: 1000;
}

.scroll-btn.left {
  left: 0;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  z-index: 4;
}

.scroll-btn.right {
  right: 0;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  z-index: 4;
}

/* Main content */
.main__content {
  width: 100%;
  margin-top: 1rem;
}

/* Post */
.post__card {
  max-width: 100%;
  padding: var(--space-lg) 0;
  border-bottom: 2px solid var(--color-gray-lightest);
}

.post__content-title {
  display: block;
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  padding: 0;
  margin-left: 0;
  margin-top: var(--space-md);
}

.post__author {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.post__author-name {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-md);
}

.post__left {
  display: flex;
  max-width: 100%;
  gap: var(--space-md);
  align-items: start;
  justify-content: space-between;
}

.post__left-text {
  flex: 3;
}

.post__interact {
  display: flex;
  gap: var(--space-md);
  margin-top: var(--space-lg);
  justify-content: space-between;
  align-items: center;
  color: var(--color-gray-medium);
}

.post__interact-meta {
  display: flex;
  gap: var(--space-md);
  font-size: var(--font-size-sm);
}

.post__interact-action {
  display: flex;
  gap: var(--space-md);
}

.post__interact-action .icon-btn {
  background-color: var(--color-surface);
  border: none;
}

.icon-btn:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.post__author-img {
  width: calc(0.8 * var(--icon-base-width));
  border-radius: var(--border-radius-pill);
}

.post__content-overview {
  color: var(--color-text-muted);
  font-size: var(--font-size-md);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post__img {
  height: auto;
  width: 100%;
  max-width: 250px;
  border-radius: var(--border-radius-lg);
}

.react-icon-meta,
.react-icon {
  width: calc(0.6 * var(--icon-base-width));
  transition: all 0.3s ease;
}

.react-icon:hover,
.react-icon-meta:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.divider {
  display: none;
}

.error__not-found {
  font-size: var(--font-size-lg);
  align-items: center;
  text-align: center;
}
/* Author more to follow */
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.user__list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: calc(var(--space-md)) 0;
}

.user__info {
  display: flex;
  gap: 2rem;
  align-items: center;
}

p.bio {
  padding: 0;
  margin: 0;
}

.follow__btn {
  background-color: #ffffff;
  padding: 0.5rem 1.5rem;
  border-radius: 100px;
  transition: all 0.5s ease;
}

.follow__btn:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: #000;
  color: #fff;
}

/* Responsive */

@media (max-width: 650px) {
  html,
  body {
    width: 100%;
    height: 100%;
  }

  .container {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    gap: 1rem;
  }

  /* Xóa date */
  .created_date {
    display: none !important;
  }

  /* Page Title */
  .page__title {
    font-size: 1.75rem;
  }

  /* Chỉnh nav */
  .nav__items {
    padding: 0.375rem 1.25rem;
    font-size: 0.75rem;
    border: 1px solid #fff;
  }

  /* Topic nav */
  .following__nav {
    gap: 0.5rem;
  }

  .nav__items {
    padding: 0.3rem 0.75rem;
    font-size: 0.7rem;
  }

  /* Dropdown */
  .dropdown__container {
    max-width: 9rem;
    border-width: 1px;
  }

  .dropdown__header {
    height: 1.75rem !important;
  }

  .dropdown__header-item,
  .dropdown__item {
    padding: 0.4rem 0.75rem;
    font-size: 0.7rem;
  }

  .arrow {
    margin: 0 0.5rem;
  }

  /* Topic Container */
  .topic__container {
    gap: 0.5rem;
  }

  /* Thanh scroll trái phải */
  .scroll-btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
  }

  /* Ẩn fade khi màn hình quá nhỏ (che mất nội dung) */
  .fade {
    display: none !important;
  }

  /* Topic item */
  .topic {
    padding: 0.2rem 0.5rem !important;
    font-size: 0.75rem;
    line-height: 1 !important;
    height: auto;
    white-space: nowrap;
    border-radius: 1.5rem;
  }

  .topic.active {
    padding: 0.2rem 0.5rem !important;
    border-width: 1px;
  }

  /* Post */
  .post__left {
    flex-direction: column;
    gap: 1rem;
  }

  .post__left-text {
    width: 100%;
  }

  .post__interact-action {
    gap: 0.25rem;
  }

  .post__interact-meta span {
    display: inline-flex;
    gap: 0.1rem;
    align-items: center;
  }

  .post__img {
    width: 100%;
    height: auto;
    align-self: center;
  }

  .react-icon-meta {
    width: 0.75rem;
    height: 0.75rem;
  }

  .react-icon {
    width: 0.625rem;
    height: 0.625rem;
  }

  .post__author-name {
    font-size: 0.75rem;
  }

  .post__content-title {
    font-size: 1rem;
  }

  .post__content-overview {
    font-size: 0.75rem;
  }

  .divider {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
}
