html {
  scroll-behavior: smooth;
}

h2,
h3,
.post__content-title,
.post__author-name,
.name,
.bio {
    font-family: var(--font-family-heading);
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--text);
    margin-left: 20px;
}

p,
span,
a,
li {
    font-family: var(--font-family-body);
}

li:hover {
    cursor: pointer;
}

.nav {
    min-width: none;
    max-width: 800px;
    font-size: 1.25rem;
    margin-left: 10rem;
    border-right: 2px solid #f2f2f2;

}

.nav p {
    font-family: var(--font-family-body), serif;

    padding-top: 2rem;
    padding-bottom: 1rem;
}

.nav__list {
    display: flex;
    gap: 5rem;
    padding: 0;
    margin: 0;
}

.nav__item {
    list-style-type: none;
}

.nav__item:hover {
    color: #565656;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
}

.post {
    max-width: 800px;
    min-width: 0;
    padding-top: 2rem;
    margin-left: 10rem;
    border-right: 2px solid #f2f2f2;
}

.post__card {
    max-width: 100%;
    min-width: 0;
    margin-bottom: 2rem;
}

.post__content-title {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0;
    margin-left: 0;
    margin-top: 1rem;
}

.post__author {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.post__left {
    display: flex;
    max-width: 85%;
    gap: 7rem;
    align-items: start;
    justify-content: space-between;
}

.post__left-text {
    min-width: 0;
}

.post__interact {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 3rem;
    justify-content: space-between;
    align-items: center;
    color: #7d7d7d;
}

.post__interact-meta {
    display: flex;
    gap: 1rem;
    font-size: 1.25rem;
}

.post__interact-action {
    display: flex;
    gap: 1rem;
}

.post__interact-action .icon-btn {
    background-color: #fff;
    border: 0px;
}

.post__author-name {
    margin-top: 0;
    margin-left: 0rem;
}

.post__author-img {
    width: 20px;
    height: 20px;
    border-radius: 100px;
}

.post__content-overview {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post__img {
    width: 200px;
    height: 132px;
    border-radius: 20px;
}

.react-icon-meta {
    width: 17px;
    height: 17px;
}

.react-icon {
    width: 25px;
    height: 25px;
    filter: brightness(0) saturate(100%)
    invert(44%) sepia(5%) saturate(0%) brightness(85%) contrast(85%);
    cursor: pointer;
}

.post__interact-meta .react-icon:hover,
.react-icon-meta:hover {
    cursor: pointer;
}

.heart.active {
    width: 20px;
    filter: brightness(0) saturate(100%) invert(14%) sepia(90%) saturate(4000%) hue-rotate(-5deg);
}

.divider {
    border: none;
    height: 2px;
    background-color: #f2f2f2;
    margin-right: 8.5rem;
    margin-top: 2rem;
}

aside {
    width: 300px;
    max-width: 100%;
    flex-shrink: 1;
    padding: 2rem 1rem;
    position: sticky;
    top: 0;
    z-index: 2;
}

.recommend {
    width: 100%;
    max-width: 250px;
    min-width: none;
}

.recommend>a,
.rcm__follow>a {
    color: #6a6a7d;
}

.recommend__topic-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style-type: none;
    padding: 0;
    margin: 1.5rem 0;
}

.recommend>a:hover,
.rcm__follow>a:hover {
    text-decoration: underline;
}

.recommend__topic-list-item {
    padding: 0.5rem 1rem;
    background: #f2f2f2;
    border-radius: 100px;
    transition: all 300ms ease-in-out;
}

.recommend__topic-list-item:hover {
    transform: scale(1.1);
    background-color: #000000;
    color: #ffffff;
}

.rcm__follow {
    margin-top: 5rem;
    max-width: 350px;
    position: sticky;
    top: 0;
}

.rcm__follow-list {
    list-style-type: none;
    padding: 0;
    margin-top: 2rem;
}

.rcm__follow-list-item {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
}

.rcm__follow-list-item>.content {
    display: flex;
    flex-direction: column;
    margin: 0 1.5rem;
    justify-content: start;
    min-width: 40%;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.rcm__follow-list-item {
    display: flex;
    align-items: start;
}

.follow__btn {
    background-color: #ffffff;
    padding: 0.5rem 1.5rem;
    border-radius: 100px;
    transition: all 0.5s ease;
}

.follow__btn:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: #000;
    color: #fff;
}

.scroll-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 3;
    padding: 12px 16px;
    font-size: 18px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background: #333;
    color: white;
    display: none;
    transition:all 0.3s ease-in;
}

.scroll-top:hover {
    background: #555;
}


/* ---------- Tablet (768px - 1023px) ---------- */
@media (max-width: 1023px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .created_date {
        display: none;
    }

    aside {
        display: none;
    }


    .nav {
        width: 95%;
        margin: 0 auto;
        border: 0;
    }

    .nav__list {
        justify-content: center;
    }

    .main__content {
        margin: 0 auto;
    }

    .post {
        width: 95%;
        margin: 0 auto;
        padding-top: 1rem;
        border: 0;
    }

    .post__left {
        flex-direction: column;
        max-width: 100%;
        gap: 1rem;
    }

    .post__img {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }

    .divider {
        margin-right: 0;
    }

    .post__left-text {
        min-width: 100%;
    }

}

/* ---------- Mobile (<768px) ---------- */
@media (max-width: 767px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    aside {
        display: none;
    }

    .nav {
        width: 95%;
        margin: 0 auto;
        border: 0;

    }

    .nav__list {
        justify-content: center;
    }

    .main__content {
        width: 95%;
        margin: 0 auto;
    }

    .post {
        width: 95%;
        margin: 0 auto;
        padding-top: 1rem;
        border: 0;

    }

    .post__card {
        min-width: auto;
        margin-bottom: 2rem;
    }

    .post__left {
        flex-direction: column;
        gap: 1rem;
    }

    .post__content-title {
        font-size: 1.2rem;
    }

    .post__interact {
        align-items: flex-start;
        gap: 0.5rem;

    }

    .post__interact-action img {
        width: 22px;
        height: 22px;
    }

    .post__interact-meta {
        gap: 0.5rem;
    }

    .react-icon {
        width: 16px;
        height: 16px;
    }
}