* {
  font-family: var(--font-family-heading);
}

nav a,
button {
  font-family: var(--font-family-heading);
}

a {
  text-decoration: none;
  color: var(--color-black);
}

.container {
  display: grid;
  grid-template-columns: minmax(0, 700px) minmax(0, 300px);
  grid-template-areas:
    "main sidebar"
    "main sidebar"
    "main sidebar";
  width: 90%;
  grid-column-gap: var(--space-lg);
  justify-content: space-evenly;
  margin: var(--space-lg) var(--space-md);
}

.user__main {
  display: flex;
  grid-area: main;
  width: 100%;
  flex-direction: column;
  gap: 0;
}

.user__info {
  display: flex;
  flex-direction: row;
  margin: var(--space-md) 0;
  gap: var(--space-md);
  align-items: center;
}

.user__avatar {
  border-radius: var(--border-radius-pill);
  height: calc(1.5 * var(--icon-base-height));
}

.user__name {
  display: flex;
  padding: var(--space-md);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-xl);
  margin: 0;
}

/* ----- Nav ----- */
.profile-nav {
  display: flex;
  height: auto;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: var(--space-md);
}

.profile-nav__items {
  display: flex;
  padding: var(--space-sm) var(--space-xl);
  background-color: var(--color-white);
  font-size: var(--font-size-md);
  border-radius: var(--border-radius-pill);
  color: var(--color-gray-medium);
  transition: all 0.2s ease;
  margin: 0;
}

.profile-nav__items:active {
  color: var(--color-primary);
  background-color: var(--color-gray-lightest);
  box-shadow: 0 2px 2px 0 var(--color-gray-medium);
  border: none;
}

.profile-nav__items.active {
  color: var(--color-primary);
  background-color: var(--color-gray-lightest);
  box-shadow: 0 2px 2px 0 var(--color-gray-medium);
  border: none;
}

.profile-nav__items:hover {
  transform: scale(1.02);
  color: var(--color-primary);
  background-color: var(--color-gray-lightest);
  box-shadow: 0 2px 2px 0 var(--color-gray-medium);
  border: none;
}

/* Tell Story Button */
.button-container.hidden {
  display: none;
}

.tell-story-button {
  display: flex;
  width: 100%;
  padding: var(--space-sm) 0;
  margin-top: var(--space-lg);
  border: var(--border-width) solid var(--color-black);
  border-radius: var(--border-radius-pill);
  justify-content: center;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-lg);
  background-color: var(--color-primary);
  color: var(--color-primary-contrast);
  transition: all 0.3s ease;
}

.tell-story-button:hover {
  cursor: pointer;
  transform: translateY(-2px);
}

.profile-content {
  width: 100%;
  padding-top: 0.5rem;
  margin: 0 auto;
}

.user__bio,
.user__no-po-cm-bio {
  font-size: var(--font-size-md);
  justify-self: center;
}

/* ----Post----   */

.post__card {
  width: 100%;
  margin-bottom: 2rem;
}

.post__content-title {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  padding: 0;
  margin-left: 0;
  margin-top: 1rem;
}

.post__author {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.post__left {
  display: flex;
  gap: 3rem;
  align-items: start;
  justify-content: space-between;
}

.post__left-text {
  display: flex;
  flex: 1;
  min-width: 15rem;
  flex-direction: column;
  width: 100%s;
}

.post__interact {
  display: flex;
  margin-top: 3rem;
  justify-content: space-between;
  align-items: center;
  color: #7d7d7d;
}

.post__interact-meta {
  display: flex;
  gap: 1rem;
  font-size: 1.25rem;
}

.post__interact-action {
  display: flex;
  gap: 1rem;
}

.post__interact-action .icon-btn {
  background-color: #fff;
  border: 0px;
}

.post__author-name {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0;
  margin-left: 0rem;
}

.post__author-img {
  width: 20px;
  height: 20px;
  border-radius: 100px;
}

.post__content-overview {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post__img {
  display: flex;
  width: 12.5rem;
}

.react-icon-meta {
  width: 1rem;
  height: 1rem;
}

.react-icon {
  width: 1.25rem;
  height: 1.25rem;
  filter: brightness(0) saturate(100%) invert(44%) sepia(5%) saturate(0%)
    brightness(85%) contrast(85%);
}

.post__interact-meta .react-icon:hover,
.react-icon-meta:hover {
  cursor: pointer;
}

.divider {
  border: none;
  height: 1px;
  background-color: var(--color-gray-medium);
  margin: var(--space-lg);
}

/* ---- Comment ---- */
.comment__container {
  display: flex;
  flex-direction: column;
}

.comment__header {
  display: flex;
  flex-direction: column;
}

.comment__header a {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0.25rem 0;
}

.comment__header p {
  font-size: 0.75rem;
  margin: 0.25rem 0;
}

.comment__content {
  font-size: 1rem;
}

/* ---- Side Profile ---- */

.side-profile {
  display: flex;
  grid-area: sidebar;
  flex-direction: column;
  gap: 1.25rem;
  width: 100%;
  border-radius: 1.25rem;
}

.side-profile__more {
  display: none;
}

.user__bg-img {
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
  width: 100%;
  height: 30%;
}

.user__more-info {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  background-color: #f7f7f7;
  /* box-shadow: 0.1rem 0.1rem 1rem #666666; */
  border-radius: 1.25rem;
  height: auto;
}

.more-info__container {
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  gap: 1.25rem;
  justify-content: flex-start;
}

.more-info__container p {
  font-size: 1.5rem;
}

.more-info__title {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.more-info__name {
  font-weight: bold;
  font-size: 1.5rem;
}

.more-info__share {
  display: flex;
  padding: 0.75rem 1.5rem;
  width: fit-content;
  border-radius: 1.25rem;
  border: none;
  background-color: var(--color-black);
  color: white;
  font-size: 1.25rem;
  transition: all 0.3s ease;
}

.more-info__share:hover {
  transform: translateY(-2px);
  cursor: pointer;
}

.more-info__follower {
  font-weight: bold;
  padding: 1.25rem 0;
}

.more-info__follower P:first-child {
  font-size: 1rem;
  margin: 1rem 0 0 0;
}

.more-info__follower P:last-child {
  font-size: 0.75rem;
  margin: 1rem 0 0 0;
}

.more-info__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20%;
  justify-items: center;
}

.more-info__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10%;
  justify-items: start;
  align-items: center;
  text-align: start;
}

.more-info__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 1rem 0;
}

.more-info__items p:first-child {
  font-size: 1rem;
  font-weight: bold;
  color: #111;
  margin: 0;
}

.more-info__items p:last-child {
  font-size: 0.75rem;
  font-weight: bold;
  color: #666;
  margin: 4px 0;
}

/* Setting */
.user__settings {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 1rem 1rem;
  background-color: #f7f7f7;
  border-radius: 1.25rem;
  height: auto;
}

.user__settings.hidden {
  display: none;
}

.setting__content {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
}

.setting__content div {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.setting__title {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.setting__description {
  font-size: 0.75rem;
  font-weight: bold;
  color: #666;
  margin: 0;
}

.setting__update-btn {
  border-radius: 9999px;
  border: none;
  height: 3rem;
  background-color: var(--color-black);
  color: white;
  padding: 0.75rem 2.5rem;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}

.setting__update-btn:hover {
  cursor: pointer;
  transform: translateY(-2px);
}

/* Social Links */

.user__social-links {
  padding: 1.25rem;
  background-color: #f7f7f7;
  border-radius: 1.25rem;
  /* box-shadow: 0.1rem 0.1rem 1rem #666666; */
}

.user__social-links p {
  font-weight: bold;
  font-size: 1.5rem;
}

.social-links__items {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin: 1.25rem 0;
}

.social-links__items a {
  font-size: 1.25rem;
}

.add-social-link-button {
  border-radius: 9999px;
  border: none;
  background-color: var(--color-black);
  color: white;
  padding: 0.75rem 1.5rem;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}

.add-social-link-button:hover {
  cursor: pointer;
  transform: translateY(-2px);
}

.edit-profile__form {
  display: none;
  font-family: var(--font-family-heading);
  padding: 1rem 1.5rem;
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  border: 1px solid var(--color-var(--color-black));
  border-radius: 20px;
  transform: translate(-50%, -50%);
  background-color: var(--color-white);
  width: 30rem;
  height: auto;
}

label {
  display: block;
  color: var(--color-var(--color-black));
  font-size: 1rem;
  margin: 1rem 0;
}

input {
  color: var(--color-var(--color-black));
  font-size: 1rem;
  border: 0.5px solid var(--color-var(--color-black));
  border-radius: 10px;
  padding: 0.5rem 0.8rem;
  width: auto;
}

.form__option {
  display: flex;
}

textarea {
  font-family: var(--font-family-heading);
  width: 100%;
  height: 150px;
  padding: 10px;
  border: 1px solid var(--color-var(--color-black));
  border-radius: 10px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: var(--color-white);
}

textarea::placeholder {
  font-family: var(--font-family-heading);
}

.submit-btn,
.cancel-btn {
  font-size: 1.5rem;
  font-family: var(--font-family-heading);
  border: 1px solid var(--color-black);
  border-radius: 10px;
  padding: 0.9rem 1.5rem;
  display: flex;
  margin: 2rem auto;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.submit-btn {
  background-color: var(--color-black);
  color: var(--color-white);
}

.cancel-btn {
  background-color: var(--color-white);
  color: var(--color-black);
}

.submit-btn:hover {
  background-color: var(--color-white);
  color: var(--color-black);
}

.cancel-btn:hover {
  background-color: var(--color-black);
  color: var(--color-white);
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-black);
  opacity: 0.7;
  display: none;
}

.overlay.active,
.edit-profile__form.active {
  display: block;
}

@media (max-width: 900px) {
  body,
  html {
    width: 100%;
    height: 100%;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr minmax(0, 0.25fr);
    grid-template-areas:
      "main"
      "sidebar";
    width: 95%;
    max-width: 900px;
    margin: 0 auto;
    justify-items: center;
    gap: 5rem;
  }

  .user__main {
    display: flex;
    flex-direction: column;
    grid-area: main;
    width: 60%;
    max-width: 90%;
    box-sizing: border-box;
  }

  /* Nav */
  .profile-nav {
    justify-content: center;
  }

  /* side profile */
  .side-profile {
    display: flex;
    max-height: 6rem;
    overflow-y: hidden;
    flex-direction: column;
    gap: 0;
    width: 100%;
    background-color: #f7f7f7;
    border-radius: 1.25rem;
    box-sizing: border-box;
    grid-area: sidebar;
    transition: max-height 0.5s ease;
  }

  .side-profile.active {
    max-height: 100rem;
  }

  .side-profile__more {
    display: inline-flex !important;
    margin: 0 2rem;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    cursor: pointer;
  }

  .side-profile span {
    display: flex;
    height: 6rem;
    margin: 0;
    background-color: #f7f7f7;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    align-items: center;
    line-height: normal;
  }

  /* About - Sideprofile */
  .about {
    font-size: 1.75rem;
    font-weight: bold;
  }

  .arrow {
    align-self: center;
    margin: 0.75rem !important;
    height: 1.15rem !important;
    width: 1.15rem !important;
    border-radius: 0 !important;
    border-bottom: 1px solid #111;
    border-left: 1px solid #111;
    transform: rotate(-45deg);
    transition: transform 0.3s ease;
  }

  .arrow.active {
    transform: rotate(135deg);
  }

  .user__more-info {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    width: -webkit-fill-available;
    height: auto;
    box-shadow: none;
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
    max-height: 25rem;
    opacity: 1;
    transition: opacity 0.4s ease-out, max-height 0.4s ease-in-out,
      transition 0.4s ease, margin-top 0.4s ease-in-out;
  }

  .user__bg-img {
    display: none;
  }

  .more-info__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 90%;
    height: 80%;
    padding: 0.5rem;
    gap: 1rem;
  }

  .more-info__title {
    display: none;
  }

  .more-info__details {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    gap: 1.25rem;
  }

  .more-info__follower {
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem;
  }

  .more-info__follower p:first-child {
    font-size: 1.5rem;
  }

  .more-info__follower p:last-child {
    font-size: 1.25rem;
  }

  .more-info__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: fit-content;
    width: 80%;
  }

  .more-info__items {
    height: fit-content;
  }

  .more-info__items p:first-child {
    font-size: 1.5rem;
  }

  .more-info__items p:last-child {
    font-size: 1.25rem;
  }

  /* Setting */
  .setting__content {
    margin: 0 1rem;
  }

  .setting__title {
    font-size: 1.5rem;
  }

  .setting__description {
    font-size: 1.255rem;
  }

  /* Social Links */
  .user__social-links {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin-top: 1rem;
    gap: 1.25rem;
    width: -webkit-fill-available;
    height: auto;
    border-radius: 0;
    box-shadow: none;
    border-bottom-left-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
    transition: opacity 0.4s ease-out, max-height 0.4s ease-in-out,
      transition 0.4s ease, margin-top 0.4s ease-in-out;
    max-height: 40rem;
    opacity: 1;
  }

  .user__social-links p {
    margin: 0;
  }

  .social-links__items {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }

  .social-links__items a {
    margin: 0 0 0 1.5rem;
  }
}
