.register-page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: var(--font-family-heading);
}

.register-container {
  display: flex;
  width: 100%;
  max-width: 850px;
  background: var(--color-surface);
  border-radius: var(--border-radius-md);
  box-shadow: var(--shadow-md);
  overflow: hidden;
  margin: var(--space-md);
}

/* Left */
.register-left {
  background-color: var(--color-surface);
  flex-basis: 35%;
  padding: var(--space-xl) var(--space-lg);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-right: 1px solid var(--color-gray-light);
}

.register-left .logo img {
  height: var(--icon-base-height);
  margin-bottom: var(--space-xxl);
}


.register-left .illustration img {
  width: 200px;
  margin-bottom: var(--space-md);
}

.register-left p {
  color: var(--color-text-body);
  font-size: var(--font-size-md);
  line-height: var(--line-height-body);
  font-weight: var(--font-weight-medium);
}

/* Right */
.register-right {
  flex: 1;
  padding: var(--space-xl) var(--space-xxl);
}

.register-right h1 {
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-bold);
  margin-top: 0;
  margin-bottom: var(--space-lg);
}

.form-fullname {
  display: flex;
  gap: var(--space-lg);
  margin-bottom: var(--space-lg);
  width: 100%;
  margin-bottom: calc(-1 * var(--space-md));
}

form label {
  display: block;
  margin-bottom: var(--space-xs);
  color: var(--color-text-body);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-semibold);
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: var(--space-sm) var(--space-md);
  border: var(--border-width) solid var(--color-border);
  border-radius: var(--border-radius-sm);
  font-size: var(--font-size-md);
  margin-bottom: var(--space-lg);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  outline: var(--border-width) solid var(--color-background);
  box-shadow: var(--shadow-sm);
}

.error-text {
  color: var(--color-text-error);
  font-size: var(--font-size-sm);
  margin-top: calc(-1 * var(--space-md));
  margin-bottom: var(--space-md);
}

.form-btn {
  width: 100%;
  padding: var(--space-sm) var(--space-lg);
  font-weight: var(--font-weight-bold);
  border-radius: var(--border-radius-pill);
  border: var(--border-width) solid var(--color-primary);
  background: var(--color-primary);
  color: var(--color-primary-contrast);
  cursor: pointer;
  box-shadow: var(--shadow-sm);
  transition: all 0.2s ease;
}

.form-btn:hover {
  background: var(--color-gray-darkest);
  box-shadow: var(--shadow-md);
}

.form-btn:active {
  box-shadow: none;
}

.auth-switch-link {
  font-size: var(--font-size-sm);
  text-align: center;
}

.auth-switch-link a {
  text-decoration: none;
  font-weight: var(--font-weight-bold);
}

.auth-switch-link a:hover {
  text-decoration: underline;
}

.divider {
  margin: var(--space-lg) 0;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--color-text-muted);
  gap: var(--space-md);
}

.divider hr {
  flex: 1;
  border: none;
  border-top: var(--border-width) solid var(--color-gray-medium);
}

.divider span {
  font-size: var(--font-size-sm);
}

/* Social buttons */
.social-login {
  display: flex;
  gap: var(--space-md);
}

.btn-social {
  width: 100%;
  padding: var(--space-sm);
  border-radius: var(--border-radius-pill);
  border: var(--border-width) solid var(--color-gray-medium);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-sm);
  font-weight: var(--font-weight-semibold);
  background-color: var(--color-surface);
  color: var(--color-text-body);
  cursor: pointer;
  transition: 0.2s;
}

.btn-social img {
  width: var(--icon-base-width);
}

.btn-social:hover {
  text-decoration: underline;
}

.signup-text {
  text-align: center;
  margin-top: var(--space-lg);
  font-size: var(--font-size-sm);
}

.signup-text a {
  font-weight: var(--font-weight-bold);
  text-decoration: none;
}

.signup-text a:hover {
  text-decoration: underline;
}

/*responsive tablet*/
@media (max-width: 768px) {
  .register-container {
    flex-direction: column;
    max-width: 500px;
  }

  .register-left {
    flex-basis: auto;
    padding: var(--space-lg) var(--space-md);
    border: none;
  }

  .register-left .logo img{
    margin-bottom: 0;
  }

  .register-left .illustration{
    display: none;
  }

  .register-right {
    padding: var(--space-lg);
  }

}

/*responsive mobile*/
@media (max-width: 480px) {
  .register-page-wrapper{
    padding: var(--space-md);
  }

  .register-container{
    box-shadow: none;
    margin: 0;
  }

  .register-left{
    padding: var(--space-md);
  }

  .register-right{
    padding: var(--space-md) var(--space-lg);
  }

  .register-right h1{
    font-size: var(--font-size-xl);
  }

  input[type="email"],
  input[type="password"] {
    padding: var(--space-sm);
    font-size: var(--font-size-sm);
    margin-bottom: var(--space-md);
  }

  .form-btn{
    padding: var(--space-sm);
    font-size: var(--font-size-sm);
  }

  .social-login {
    flex-direction: column;
  }


  .btn-social {
    width: 100%;
    font-size: var(--font-size-sm);
  }
  .divider {
    margin: var(--space-md) 0;
  }
  
}