body {
    background-color: var(--color-surface);
    font-family: var(--font-family-heading);
    color: var(--color-text-body);
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
}

.forgot-password-card {
    background-color: var(--color-background);
    border-radius: var(--border-radius-xl);
    box-shadow: var(--shadow-md);
    padding: var(--space-md) var(--space-xl);
    text-align: center;
    width: 100%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    height: calc(0.8*var(--icon-base-height));
}

.card-title {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--space-md);
}

.card-description {
    font-size: var(--font-size-md);
    color: var(--color-text-muted);
    margin-bottom: var(--space-md);
    font-weight: var(--font-weight-semibold);
}

.forgot-password-form {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    margin-bottom: var(--space-md);
}

.form-group {
    text-align: left;
}

.form-label {
    display: block;
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-semibold);
    color: var(--color-text-heading);
    margin-bottom: var(--space-sm);
}

.form-input {
    width: 100%;
    padding: var(--space-md);
    border: 1px solid var(--color-gray-medium);
    border-radius: var(--border-radius-lg);
    background-color: var(--color-background);
    font-size: var(--font-size-md);
    display: flex;
    flex-direction: column;
}


.form-input:focus {
    outline: none;
    border-color: var(--color-primary);
    box-shadow: 0 0 0 2px var(--color-primary-light);
}

.submit-button {
    background-color: var(--color-primary);
    color: var(--color-primary-contrast);
    width: fit-content;
    border: none;
    align-self: center;
    border-radius: var(--border-radius-pill);
    padding: var(--space-md) var(--space-xl);
    font-family: var(--font-family-heading);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-bold);
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.submit-button:hover {
    transform: translateY(-2px);
}

.back-link {
    font-size: var(--font-size-md);
}

.back-link a {
    color: var(--color-primary);
    text-decoration: none;
    font-weight: var(--font-weight-semibold);
}

.back-link a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    .forgot-password-card {
        padding: var(--space-lg) var(--space-xl);
    }
    .card-title {
        font-size: var(--font-size-xl);
    }
    .card-description {
        font-size: var(--font-size-sm);
    }
    .form-input, .submit-button {
        padding: calc(0.9*var(--space-md)) var(--space-md);
        font-size: var(--font-size-sm);
    }
}