<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Page Not Found</title>
    <link rel="stylesheet" href="/styles/base/reset.css">
    <link rel="stylesheet" href="/styles/base/fonts.css">
    <link rel="stylesheet" href="/styles/base/token.css">
    <link rel="stylesheet" href="/styles/pages/404.css">
    <link rel="icon" type="image/png" href="/images/logos/favicon.png">
</head>

<body>
    <main class="container-404">
        <div class="content-404">
            <h1 class="title-404">404</h1>
            <p class="subtitle-404">Oops! Page Not Found.</p>
            <p class="message-404">The page you're looking for doesn't exist or has been moved.</p>
            <a href="/" class="button-404">Go back to Homepage</a>
        </div>
    </main>
</body>

</html>