<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link rel="stylesheet" href="/styles/pages/admin.css" />
    <link rel="stylesheet" href="/styles/base/token.css" />
    <link rel="stylesheet" href="/styles/base/fonts.css" />
    <link rel="icon" type="image/png" href="/images/logos/favicon.png" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <main>
        <aside>
            <nav class="sidebar">
                <ul class="nav__list">
                    <a href="/" class="nav__list-item-logo">
                        <img src="/images/logos/website-logo.png" alt="Coderhome's logo" />
                    </a>
                    <li class="nav__list-item dashboard">
                        <img src="/images/icons/admin/chart-arc.svg" alt="Dashboard icon" class="dashboard-icon" />
                        <p>Dashboard</p>
                    </li>
                    <li class="nav__list-item manage-users">
                        <img src="/images/icons/admin/account.svg" alt="User icon" class="manage-users-icon" />
                        <p>Manage Users</p>
                    </li>
                    <li class="nav__list-item manage-posts">
                        <img src="/images/icons/admin/text-box-multiple-outline.svg" alt="Post icon"
                            class="manage-posts-icon" />
                        <p>Manage Posts</p>
                    </li>
                    <li class="nav__list-item manage-comments">
                        <img src="/images/icons/admin/chat-outline.svg" alt="Comment icon"
                            class="manage-comments-icon" />
                        <p>Manage Comments</p>
                    </li>
                </ul>
            </nav>
        </aside>
        <section class="main__content"></section>
    </main>
    <div class="modal__delete">
        <p>Do you want to delete?</p>
        <div class="modal__option">
            <button class="cancel-btn">Cancel</button>
            <button class="submit-btn">Delete</button>
        </div>
    </div>
    <div class="edit-profile__form">
        <label for="username">Change username</label>
        <input type="text" name="username" id="username" placeholder="">
        <label for="email">Change email</label>
        <input type="email" name="email" id="email" placeholder="">
        <label for="role">Change role</label>
        <input type="role" name="role" id="role" placeholder="">
        <div class="form__option">
            <button class="cancel-btn">Cancel</button>
            <button class="submit-btn">Submit</button>
        </div>
    </div>

    <div class="edit-comment__form">
        <label for="content">Edit comment's content</label>
        <textarea name="content" id="content"></textarea>
        <div class="form__option">
            <button class="cancel-btn">Cancel</button>
            <button class="submit-btn">Submit</button>
        </div>
    </div>
    <div class="overlay"></div>
    <script type="module" src="/scripts/auth/admin.js" defer></script>
</body>

</html>