<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/styles/partials/avatar-option.css">
    <link rel="stylesheet" href="../../public/styles/base/fonts.css">
    <link rel="stylesheet" href="../../public/styles/base/reset.css">
    <link rel="stylesheet" href="../../public/styles/base/token.css">

</head>

<body>
    <div class="avatar__option">
        <div class="avatar__basic-info">
            <img src="/public/images/user-avatar.jpg" alt="" class="avatar-image">
            <p class="user-name">Kiennguyen</p>
        </div>
        <hr class="divider">
        <ul class="option__list">
            <li class="option__item">
                <p>Infomation</p>
                <img src="../../public/images/account-circle-outline.svg" alt="" class="option__item-image">
            </li>
            <li class="option__item">
                <p>Setting</p>
                <img src="../../public/images/cog-outline.svg" alt="" class="option__item-image">
            </li>
            <li class="option__item">
                <p>Help</p>
                <img src="../../public/images/help-circle-outline.svg" alt="" class="option__item-image">
            </li>
            <li class="option__item">
                <p>Log Out</p>
                <img src="../../public/images/logout.svg" alt="" class="option__item-image">
            </li>
        </ul>
        <hr class="divider">
        <ul class="nav__list">
            <li class="nav__item">
                <a href="">Help</a>
            </li>
            <li class="nav__item">
                <a href="">Status</a>
            </li>
            <li class="nav__item">
                <a href="">About</a>
            </li>
            <li class="nav__item">
                <a href="">Press</a>
            </li>
            <li class="nav__item">
                <a href="">Privacy</a>
            </li>
            <li class="nav__item">
                <a href="">Term</a>
            </li>
        </ul>
    </div>
</body>

</html>