<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Help</title>
  <link rel="stylesheet" href="/styles/base/reset.css">
  <link rel="stylesheet" href="/styles/base/token.css">
  <link rel="stylesheet" href="/styles/base/fonts.css">
  <link rel="stylesheet" href="/styles/pages/help.css">
  <link rel="stylesheet" href="/fonts/themify-icons/themify-icons.css">
  <link rel="icon" type="image/png" href="/images/logos/favicon.png">
</head>

<body>
  <header class="header">
    <div class="header_container">
      <a href="/"><img src="/images/coderhome-logo.png" alt="" class="header_logo"></a>
      <button class="header_btn">
        <a href="/" style="text-decoration: none;">Visit Coderhome</a>
      </button>
    </div>
  </header>

  <main class="main">
    <div class="main_search">
      <span class="shooting_star"></span>
      <span class="shooting_star"></span>
      <span class="shooting_star"></span>
      <span class="shooting_star"></span>
      <span class="shooting_star"></span>
      <span class="shooting_star"></span>
      <span class="shooting_star"></span>
      <span class="shooting_star"></span>
      <span class="shooting_star"></span>
      <span class="shooting_star"></span>
      <div class="search_text">
        <h2>How can we help you today?</h2>
      </div>
      <input type="text" class="help_search" id="help_search" placeholder="Search...">
    </div>

    <div class="main_help">
      <div class="help_body">
        <ul class="help_container">
          <li class="help_item">
            <div class="help_item_header">
              <i class="start_icon ti-control-play"></i>
              <h2>Getting Start</h2>
            </div>
            <div class="nav_help">
              <a href="">Browser extension installation</a>
              <a href="">Progressive web app</a>
            </div>
          </li>

          <li class="help_item">
            <div class="help_item_header">
              <i class="start_icon ti-settings"></i>
              <h2>Setting up your feed </h2>
            </div>
            <div class="nav_help">
              <a href="">Filtering </a>
              <a href="">Advanced filtering</a>
              <a href="">Blocking tags and sources</a>
            </div>
          </li>

          <li class="help_item">
            <div class="help_item_header">
              <i class="start_icon ti-game"></i>
              <h2>Key features</h2>
            </div>
            <div class="nav_help">
              <a href="">Feeds</a>
              <a href="">Upvotes & Downvotes</a>
              <a href="">Discussions</a>
              <a href="">Polls</a>
              <a href="">Bookmarks</a>
              <a href="">Search</a>
              <a href="">Pause New Tab (DND)</a>
              <a href="">Companion Widget</a>
            </div>
          </li>

          <li class="help_item">
            <div class="help_item_header">
              <i class="start_icon ti-user"></i>
              <h2>Your profile</h2>
            </div>
            <div class="nav_help">
              <a href="">Activity</a>
              <a href="">Reputation</a>
              <a href="">Reading history</a>
              <a href="">Reading streak</a>
              <a href="">Company verified badge</a>
              <a href="">Top readers</a>
              <a href="">DevCard</a>
              <a href="">Account settings</a>
            </div>
          </li>

          <li class="help_item">
            <div class="help_item_header">
              <i class="start_icon ti-home"></i>
              <h2>Organization</h2>
            </div>
            <div class="nav_help">
              <a href="">Overview</a>
              <a href="">Creating an Organization</a>
              <a href="">Inviting Members</a>
              <a href="">Managing Members</a>
              <a href="">Billing & Seats</a>
              <a href="">Organization Settings</a>
            </div>
          </li>

          <li class="help_item">
            <div class="help_item_header">
              <i class="start_icon ti-star"></i>
              <h2>Plus</h2>
            </div>
            <div class="nav_help">
              <a href="">Overview</a>
              <a href="">Presidential Briefing</a>
              <a href="">Smart Prompts</a>
              <a href="">Advanced Custom Feeds</a>
              <a href="">Clickbait Shield</a>
              <a href="">Bookmark Folders</a>
              <a href="">Keyword Filters</a>
            </div>
          </li>

          <li class="help_item">
            <div class="help_item_header">
              <i class="start_icon ti-pencil"></i>
              <h2>Customization</h2>
            </div>
            <div class="nav_help">
              <a href="">Layout</a>
              <a href="">Theme</a>
              <a href="">Density</a>
              <a href="">Preferences</a>
            </div>
          </li>

          <li class="help_item">
            <div class="help_item_header">
              <i class="start_icon ti-desktop"></i>
              <h2>For content creators</h2>
            </div>
            <div class="nav_help">
              <a href="">How to get featured?</a>
              <a href="">Content guidelines</a>
              <a href="">Special features for creators</a>
            </div>
          </li>
        </ul>
      </div>

    </div>
  </main>
  <script src="/scripts/help.js"></script>
</body>

</html>