<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    Welcome to CoderHome
  </title>
  <link rel="stylesheet" href="/styles/base/reset.css">
  <link rel="stylesheet" href="/styles/base/token.css">
  <link rel="stylesheet" href="/styles/base/fonts.css">
  <link rel="stylesheet" href="/styles/pages/landing.css">
</head>

<body>
  <div class="page-container">
    <header class="header">
      <div class="logo">
        <img src="/images/coderhome-logo.png" alt="Coderhome Logo">
      </div>
      <div class="navbar__links">
        <a href="#" class="navbar__item">Our story</a>
        <a href="#" class="navbar__item">Membership</a>
        <a href="#" class="navbar__item">Write</a>
        <a href="/login" class="navbar__item">Sign in</a>
        <a href="/register" class="navbar__item button button--primary">
          Get started
        </a> 
      </div>
    </header>
    <main class="hero">
      <div class="hero__content">
        <section class="hero__copy">
          <h1 class="hero__title">Intelligent stories & ideas</h1>
          <p class="hero__subtitle">A place to read, write, and deepen your understanding</p>
          <a href="/register" class="button button--primary button--large">
            Start reading
          </a>
        </section>
        <div class="hero__media">
          <img src="/images/landing-page-bg.png" alt="Illustration of person writing">
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="footer__links">
          <a href="/help" class="footer__link">Help</a>
          <a href="/status" class="footer__link">Status</a>
          <a href="/about" class="footer__link">About</a>
          <a href="/press" class="footer__link">Press</a>
          <a href="/privacy" class="footer__link">Privacy</a>
          <a href="/terms" class="footer__link">Terms</a>
      </div>
    </footer>
  </div>
</body>

</html>