<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/base/reset.css">
    <link rel="stylesheet" href="/styles/base/token.css">
    <link rel="stylesheet" href="/styles/base/fonts.css">
    <link rel="stylesheet" href="/styles/pages/post.css">
    <title class="post__title-head">
    </title>
</head>

<body>
    <coderhome-header></coderhome-header> 
    <main class="container">
        <div class="post">
            <div class="post__header">

            </div>
            <article class="post__content">

            </article>
        </div>
        <footer class="post__footer">
            <div class="post__tags">

            </div>
            <div class="post__about-author">

            </div>
            <hr class="post__divider" />
            <div class="post__response">

            </div>
            <hr class="post__divider" />

            <section class="comment__feeds">
                <ul class="comment__list">
                    
                </ul>
            </section>

        </footer>
    </main>
    <script type="module" src="/scripts/main.js"></script>
    <script src="/scripts/post.js" defer></script>
</body>

</html>