<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/profile.css" />
    <title>Profile</title>
  </head>
  <!--  -->
  <body>
    <main class="container">
      <section class="user__main">
        <div class="user__info"></div>
        <nav class="profile-nav">
          <!-- <button class="scroll-btn left" id="scrollLeft">◀</button> -->
          <a href="#" class="profile-nav__items active" data-tab="posts">
            Posts
          </a>
          <a href="#" class="profile-nav__items" data-tab="comments">
            Comments
          </a>
          <a href="#" class="profile-nav__items" data-tab="bio"> Biography </a>
          <!-- Test -->
          <!-- <a href="#" class="profile-nav__items" data-tab="posts"> Posts </a>
            <a href="#" class="profile-nav__items" data-tab="comments">
              Comments
            </a>
            <a href="#" class="profile-nav__items" data-tab="bio">
              Biography
            </a> -->
          <!-- _____END______ -->
          <!-- <button class="scroll-btn right" id="scrollRight">▶</button> -->
        </nav>
        <div class="button-container"></div>
        <div class="profile-content"></div>
      </section>
      <aside class="side-profile">
        <div class="side-profile__more">
          <span class="about">About</span>
          <span class="arrow"></span>
        </div>
        <div class="user__more-info"></div>
        <div class="user__social-links"></div>
      </aside>
    </main>
    <script src="/scripts/profile.js"></script>
  </body>
</html>
