<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/profile.css" />
    <title>Profile</title>
  </head>
  <!--  -->
  <body>
    <main class="container">
      <section class="user__main">
        <div class="user__info"></div>
        <nav class="profile-nav">
          <a href="#" class="profile-nav__items active" data-tab="posts">
            Posts
          </a>
          <a href="#" class="profile-nav__items" data-tab="comments">
            Comments
          </a>
          <a href="#" class="profile-nav__items" data-tab="bio"> Biography </a>
        </nav>
        <button class="tell-story-button">
          <img src="" alt="" /> Tell us your story
        </button>
        <div class="profile-content">
          <div class="user__comment"></div>
          <hr class="post__divider" />
        </div>
      </section>
      <aside class="side-profile">
        <div class="user__more-info"></div>
        <div class="user__social-links"></div>
      </aside>
    </main>
    <script src="/scripts/profile.js"></script>
  </body>
</html>
