<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Register</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="stylesheet" href="/styles/register.css">
  <link rel="stylesheet" href="/styles/token.css">
</head>

<body>
  <div class="login-container">
    <div class="login-left">
      <div class="logo">
        <img src="/images/coderhome-logo.png" alt="Coderhome Logo" />
      </div>
      <div class="illustration">
        <img src="/images/Login.png" alt="Study Illustration" />
        <p><strong>Share Your Thoughts<br>Inspire the World</strong></p>
      </div>
    </div>
  
    <div class="login-right">
    <h1>Register</h1>
      <form action="/register" method="POST">
      <div class="form-fullname">
        <div>
          <label for="Firstname">First name</label>
          <input type="text" id="Firstname" name="Firstname" required>
        </div>
        <div>
          <label for="Lastname">Lastname</label>
          <input type="text" id="Lastname" name="Lastname" required>
        </div>
      </div>
      <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
      </div>
      <button class="form-btn">Create Account</button>

      <p class="signup-text">
        Already have an account? <a href="#">Login</a>
      </p>

      <div class="divider">
        <hr> <span> or</span> <hr>
      </div>
      
      <div class="social-login">
        <button class="btn-social github">
         <img src="/images/Github.png" style="width: 30px; height: 20px;" alt="Github"> Login with Github
        </button>
        <button class="btn-social google">
         <img src="/images/gg.png" alt="Google"> Login with Google
        </button>
      </div>
    </form>
    </div>
  </div>
</body>

</html>