<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Become a member of CoderHome</title>
  <link rel="stylesheet" href="/styles/base/reset.css">
  <link rel="stylesheet" href="/styles/base/token.css">
  <link rel="stylesheet" href="/styles/base/fonts.css">
  <link rel="stylesheet" href="/styles/pages/register.css">
</head>

<body>
  <main class="register-page-wrapper">
    <div class="register-container">
      <div class="register-left">
        <div class="logo">
          <img src="/images/coderhome-logo.png" alt="Coderhome Logo" />
        </div>
        <div class="illustration">
          <img src="/images/Login.png" alt="Study Illustration" />
          <p><strong>Share Your Thoughts<br>Inspire the World</strong></p>
        </div>
      </div>

      <div class="register-right">
        <h1>Register</h1>
        <form action="/register" method="POST">
          <div class="form-fullname">
            <div>
              <label for="firstName">First name</label>
              <input type="text" id="firstName" name="firstName" value="<%= oldInput.firstName %>" required>
            </div>
            <div>
              <label for="lastName">Last name</label>
              <input type="text" id="lastName" name="lastName" value="<%= oldInput.lastName %>" required>
            </div>
          </div>
          <div>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
          </div>
          <p class="error-text">Email is already registered!</p>
          <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
          </div>
          <button class="form-btn" type="submit">Create Account</button>

          <p class="auth-switch-link">
            Already have an account? <a href="/login">Login</a>
          </p>

          <div class="divider">
            <hr> <span> or</span>
            <hr>
          </div>

          <div class="social-login">
            <button class="btn-social github">
              <img src="/images/Github.png" style="width: 30px; height: 20px;" alt="Github"> Login with Github
            </button>
            <button class="btn-social google">
              <img src="/images/gg.png" alt="Google"> Login with Google
            </button>
          </div>
        </form>
      </div>
    </div>
  </main>
</body>

</html>