<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Setting</title>
    <link rel="stylesheet" href="/styles/base/reset.css">
    <link rel="stylesheet" href="/styles/base/token.css">
    <link rel="stylesheet" href="/styles/base/fonts.css">
    <link rel="stylesheet" href="/styles/pages/setting.css">
    <link rel="stylesheet" href="/fonts/themify-icons/themify-icons.css">
    <link rel="icon" type="image/png" href="/images/logos/favicon.png">
</head>

<body>
    <!--Partial-->
    <coderhome-header></coderhome-header>
    <toggle-menu></toggle-menu>
    <toggle-avatar-option></toggle-avatar-option>
    <toggle-notification></toggle-notification>
    <!--end partial-->

    <!--Overlay part-->
    <div class="overlay">
        <div class="overlay_mail">
           <div class="mail_header">
             <h3>Email address</h3>
           </div>

           <div class="mail_body">
             <input type="text" placeholder="Enter your email address" class = "mail_input">
             <p>You can sign into CoderHome with this email address.</p>
           </div>

           <div class="mail_footer">
                <button class="btn_cancel">Cancel</button>
                <button class="btn_save btn_save_mail">Save</button>
           </div>
        </div>

        <div class="overlay_username">
          <div class="username_header">
            <h3>Username</h3>
          </div>

          <div class="username_body">
            <input type="text" placeholder="Enter your username" class = "username_input">
          </div>

          <div class="username_footer">
            <button class="btn_cancel">Cancel</button>
            <button class="btn_save btn_save_name">Save</button>
          </div>
        </div>
    </div>

    <!--Main content-->
    <main class="main">
        <div class="main_container">
            <div class="container_left">
                <div class="left_main">
                    <div class="left_main_content">
                        <div class="title_part">
                            <h2>Settings</h2>
                            <div class="setting_nav">
                                <div class="nav_item">
                                    <button class="nav_btn1">
                                        <p>
                                            <span>
                                                Account
                                            </span>
                                        </p>
                                    </button>
                                </div>

                                <div class="nav_item">
                                    <button class="nav_btn">
                                        <p>
                                            <span>
                                                Notifications
                                            </span>
                                        </p>
                                    </button>
                                </div>

                                <div class="nav_item">
                                    <button class="nav_btn">
                                        <p>
                                            <span>
                                                Memberships
                                            </span>
                                        </p>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="flex_box">

                        </div>
                    </div>
                </div>
            </div>

            <div class="container_right">
                <div class="right_main">
                    <div class="right_text">
                        <h3>Suggest help articles</h3>
                        <ul>
                            <li><a href="">Sign in or sign up to Coderhome</a></li>
                            <li><a href="">Your profie page</a></li>
                            <li><a href="">Writing and publising your first story</a></li>
                            <li><a href="">About Coderhome’s distribution system</a></li>
                            <li><a href="">Get started with the Partner Program</a></li>
                        </ul>
                    </div>
                </div>

                <footer class="right_footer">
                    <ul class="nav_foot">
                        <li><a href="">Help</a></li>
                        <li><a href="">Status</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Press</a></li>
                        <br>
                        <li><a href="">Privacy</a></li>
                        <li><a href="">Terms</a></li>
                    </ul>
                </footer>
            </div>
        </div>
    </main>
    <script src="/scripts/setting.js"></script>
    <script type="module" src="scripts/main.js"></script>
</body>

</html>