<<<<<<< HEAD
@font-face {
  font-family: "Lora";
  src: url("/fonts/Lora/Lora-VariableFont_wght.ttf");
}

@font-face {
  font-family: "RobotoCondensed";
  src: url("/fonts/Roboto_Condensed/RobotoCondensed-VariableFont_wght.ttf");
}

nav a,
button {
  font-family: "RobotoCondensed";
}
a {
  text-decoration: none;
  color: #111;
}
body,
span {
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.container {
  display: grid;
  grid-template-columns: 1.25fr 0.75fr;
  grid-template-areas:
    "main sidebar"
    "main sidebar"
    "main sidebar";
  grid-column-gap: 1.25rem;
  margin: 1.25rem;
  justify-items: center;
}

.user__main {
  display: flex;
  grid-area: main;
  width: 80%;
  flex-direction: column;
  gap: 2.5rem;
}
.user__info {
  display: flex;
  flex-direction: row;
  margin: 0.625rem 0;
  gap: 1.25rem;
  align-items: center;
}
.user__avatar {
  border-radius: 9999px;
  height: 4.375rem;
  width: 4.375rem;
}
.user__name {
  display: flex;
  padding: 0.625rem;
  font-weight: bold;
  font-size: 2rem;
}

/* ----- Nav ----- */
.profile-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.25rem;
}
.profile-nav__items {
  display: flex;
  padding: 0.75rem 2.5rem;
  background-color: #ffffff;
  font-size: 1.5rem;
  border-radius: 9999px;
  color: #666666;
  transition: all 0.2s ease;
  margin: 0;
}

.profile-nav__items:active {
  color: black;
  background-color: #f7f7f7;
  box-shadow: 0 0.25rem 0.25rem 0 #afafaf;
  border: none;
}
.profile-nav__items.active {
  color: black;
  background-color: #f7f7f7;
  box-shadow: 0 0.25rem 0.25rem 0 #afafaf;
  border: none;
}

.profile-nav__items:hover {
  color: black;
  transform: scale(1.05);
  background-color: #f7f7f7;
  box-shadow: 0 0.25rem 0.25rem 0 #afafaf;
  border: none;
}
/* Tell Story Button */
.tell-story-button {
  display: flex;
  width: 100%;
  padding: 1rem 3.75rem;
  margin: 1rem 0;
  border-radius: 1.625rem;
  border-width: 0.1875rem;
  justify-content: center;
  font-weight: bold;
  font-size: 1.5rem;
  background-color: #fff;
  transition: all 0.3s ease;
}
.tell-story-button:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.tell-story-button p {
  font-weight: bold;
  font-size: 1.5rem;
}

.profile-content {
  width: 100%;
  padding-top: 2rem;
  margin: 0 auto;
}

.user__bio,
.user__no-post,
.user__no-comment {
  font-size: 2rem;
  justify-self: center;
}

/* ----Post----   */

.post__card {
  width: 100%;
  margin-bottom: 2rem;
}

.post__content-title {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0;
  margin-left: 0;
  margin-top: 1rem;
}

.post__author {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.post__left {
  display: flex;
  max-width: 100%;
  gap: 3rem;
  align-items: start;
  justify-content: space-between;
}

.post__left-text {
  width: 100%;
}

.post__interact {
  display: flex;
  margin-top: 3rem;
  justify-content: space-between;
  align-items: center;
}

.post__interact-meta {
  display: flex;
  gap: 1rem;
}
.post__interact-meta span {
  font-size: 0.75rem;
}
.post__interact-action {
  display: flex;
  gap: 1rem;
}

.post__interact-action .icon-btn {
  background-color: #fff;
  border: 0px;
}

.post__author-name {
  margin-top: 0;
  margin-left: 0rem;
}

.post__author-img {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 6.35rem;
}

.post__content-overview {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post__img {
  display: flex;
  width: 12.5rem;
}

.react-icon {
  width: 1rem;
  height: 1rem;
}

.react-icon:hover {
  cursor: pointer;
}
.post__divider {
  margin: 1% auto;
}

/* ---- Side Profile ---- */

.side-profile {
  display: flex;
  grid-area: sidebar;
  flex-direction: column;
  gap: 1.25rem;
  width: 90%;
  max-width: 800px;
  border-radius: 1.25rem;
}
.user__bg-img {
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
  width: 100%;
  height: 30%;
}
.user__more-info {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  background-color: #f7f7f7;
  box-shadow: 0.1rem 0.1rem 1rem #666666;
  border-radius: 1.25rem;
  height: auto;
}
.more-info__container {
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  gap: 1.25rem;
  justify-content: flex-start;
}
.more-info__title {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.more-info__name {
  font-weight: bold;
  font-size: 2rem;
}
.more-info__share {
  display: flex;
  padding: 0.75rem 2.5rem;
  width: fit-content;
  border-radius: 1.25rem;
  border: none;
  background-color: black;
  color: white;
  font-size: 1.25rem;
}

.more-info__follower {
  font-weight: bold;
  padding: 1.25rem 0;
}
.more-info__follower P:first-child {
  font-size: 1.8rem;
  margin: 1rem 0 0 0;
}
.more-info__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20%;
  justify-items: center;
}

.more-info__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10%;
  justify-items: start;
  align-items: center;
  text-align: start;
}

.more-info__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  padding: 1rem 0;
}

.more-info__items p:first-child {
  font-size: 1.8rem;
  font-weight: bold;
  color: #111;
  margin: 0;
}

.more-info__items p:last-child {
  font-size: 1rem;
  font-weight: bold;
  color: #666;
  margin: 4px 0;
}
/* Social Links */

.user__social-links {
  padding: 1.25rem;
  background-color: #f7f7f7;
  border-radius: 1.25rem;
  box-shadow: 0.1rem 0.1rem 1rem #666666;
}
.user__social-links p {
  font-weight: bold;
  font-size: 1.5rem;
}

.social-links__items {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin: 1.25rem 0;
}
.social-links__items a {
  font-size: 1.25rem;
}
.add-social-link-button {
  border-radius: 9999px;
  border: none;
  background-color: black;
  color: white;
  padding: 0.75rem 2.5rem;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}
.add-social-link-button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

@media (max-width: 1100px) {
  body,
  html {
    width: 100%;
    height: 100%;
    font-size: 6px;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr minmax(0, 0.25fr);
    grid-template-areas:
      "main"
      "sidebar";
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    align-items: start;
    gap: 5rem;
  }
  .user__main,
  .side-profile {
    width: 90%;
    max-width: 90%;
    box-sizing: border-box;
  }

  .user__main {
    display: flex;
    flex-direction: column;
    grid-area: main;
  }
  .side-profile {
    display: flex;
    flex-direction: row;
    grid-area: sidebar;
    justify-content: space-between;
    height: 15rem;
  }

  .user__more-info {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 15rem;
    /* max-height: 0.5fr; */
  }
  .user__bg-img {
    width: auto;
    height: auto;
    aspect-ratio: 1/1;
    border-bottom-left-radius: 1.25rem;
    border-top-right-radius: 0;
  }
  .more-info__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 90%;
    height: 80%;
    padding: 0.5rem;
    gap: 1rem;
  }
  .more-info__title {
    display: flex;
    flex-direction: column;
  }
  .more-info__name {
  }
  .more-info__share {
  }
  .more-info__details {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    gap: 1.25rem;
  }

  .more-info__follower {
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem;
  }
  .more-info__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
    width: 80%;
  }
  .more-info__items {
    height: fit-content;
  }

  .user__posted-post {
  }

  .user__social-links {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 20%;
    height: auto;
  }
  .user__social-links p {
    margin: 0;
  }
  .social-links__items {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }
  .social-links__items a {
    margin: 0 0 0 1.5rem;
  }
}
=======
.user__posted-post {
  display: flex;
  flex-direction: column;
}
.
>>>>>>> 9d7a8413c7b6eaac144ad8f4cac66c2408ff4c1f
