body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

p,
span,
a,
li {
  font-family: "RobotoCondensed";
}

.container {
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
  grid-template-areas:
    "main sidebar"
    "main sidebar"
    "main sidebar";
  grid-column-gap: 1.25rem;
  margin: 1.25rem;
  justify-items: center;
}

.user__main {
  display: flex;
  grid-area: "main";
  width: 90%;
  flex-direction: column;
  gap: 2.5rem;
}
.user__info {
  display: flex;
  flex-direction: row;
  margin: 0.625rem 0;
  gap: 1.25rem;
  align-items: center;
}
.user__avatar {
  border-radius: 9999px;
  height: 70px;
  width: 70px;
}
.user__name {
  display: flex;
  padding: 0.625rem;
  font-weight: bold;
  font-size: 2rem;
}
.profile-nav {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
}
.profile-nav__items {
  display: flex;
  padding: 0.75rem 2.5rem;
  background-color: #ffffff;
  font-size: 1.5rem;
  border-radius: 9999px;

  color: #666666;
  transition: all 0.2s ease;
  margin: 0;
}

.profile-nav__items:active {
  color: black;
  background-color: #f7f7f7;
  box-shadow: 0 0.25rem 0.25rem 0 #afafaf;
  border: none;
}

.profile-nav__items:hover {
  color: black;
  background-color: #f7f7f7;
  box-shadow: 0 0.25rem 0.25rem 0 #afafaf;
  border: none;
}

.tell-story-button {
  display: flex;
  width: 100%;
  padding: 1rem 3.75rem;
  margin: 1rem 0;
  border-radius: 1.625rem;
  border-width: 0.1875rem;
  justify-content: center;
  font-weight: bold;
  font-size: 1.5rem;
  background-color: #fff;
}
.tell-story-button p {
  font-weight: bold;
  font-size: 1.5rem;
}
.user__bio {
}
.user__no-post {
  font-size: 2rem;
  justify-self: center;
}
.user__posted-post {
  width: 100%;
  padding-top: 2rem;
  margin: 0 auto;
}

/* ----Post----   */

.post__card {
  width: 100%;
  margin-bottom: 2rem;
}

.post__content-title {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0;
  margin-left: 0;
  margin-top: 1rem;
}

.post__author {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.post__left {
  display: flex;
  max-width: 100%;
  gap: 3rem;
  align-items: start;
  justify-content: space-between;
}

.post__left-text {
  width: 100%;
  min-width: 515.64px;
}

.post__interact {
  display: flex;
  margin-top: 3rem;
  justify-content: space-between;
  align-items: center;
}

.post__interact-meta {
  display: flex;
  gap: 1rem;
}

.post__interact-action {
  display: flex;
  gap: 1rem;
}

.post__interact-action .icon-btn {
  background-color: #fff;
  border: 0px;
}

.post__author-name {
  margin-top: 0;
  margin-left: 0rem;
}

.post__author-img {
  width: 20px;
  height: 20px;
  border-radius: 6.35rem;
}

.post__content-overview {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post__img {
  width: 200px;
}

.react-icon {
  width: 15px;
  height: 15px;
}

.react-icon:hover {
  cursor: pointer;
}

/* ---- Side Profile ---- */

.side-profile {
  display: flex;
  grid-area: "sidebar";
  flex-direction: column;
  gap: 20px;
  width: 90%;
  max-width: 600px;
  border-radius: 20px;
}
.user__bg-img {
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
  width: 100%;
  height: 300px;
}
.user__more-info {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  background-color: #f7f7f7;
  border-radius: 1.25rem;
}
.more-info__container {
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  gap: 1.25rem;
  justify-content: flex-start;
}

.more-info__name {
  font-weight: bold;
  font-size: 2rem;
}
.more-info__share {
  display: flex;
  padding: 0.75rem 2.5rem;
  width: fit-content;
  border-radius: 1.25rem;
  border: none;
  background-color: black;
  color: white;
  font-size: 1.25rem;
}

.more-info__follower {
  font-weight: bold;
  padding: 1.25rem 0;
}
.more-info__follower P:first-child {
  font-size: 1.8rem;
  margin: 1rem 0 0 0;
}
.more-info__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20%;
  justify-items: center;
}

.more-info__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10%;
  justify-items: start;
  align-items: center;
  text-align: start;
}

.more-info__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;

  padding: 1rem 0;
}

.more-info__items p:first-child {
  font-size: 1.8rem;
  font-weight: bold;
  color: #111;
  margin: 0;
}

.more-info__items p:last-child {
  font-size: 1rem;
  font-weight: bold;
  color: #666;
  margin: 4px 0;
}

.user__social-links {
  padding: 1.25rem;
  background-color: #f7f7f7;
  border-radius: 1.25rem;
}
.user__social-links p {
  font-weight: bold;
  font-size: 1.5rem;
}

.socials-links__items {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin: 1.25rem 0;
}

.add-social-link-button {
  border-radius: 9999px;
  border: none;
  background-color: black;
  color: white;
  padding: 0.75rem 2.5rem;
}
