a {
    text-decoration: none;
    color: var(--color-gray-medium);
}

.divider {
    border: none;
    height: 1px;
    margin: 0;
    background-color: var(--color-gray-lightest);
}

.avatar__option {
    position: fixed;
    top: var(--header-height);
    right: 0px;
    z-index: var(--z-index-modal, 30);
    max-width: 250px;
    width: 100%;
    margin-right: var(--space-md);
    background-color: #fff;
    border: 1px solid var(--color-gray-raw);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 10px;
    opacity: 0;
    transform: translateY(-10px);
    transition: .2s;
    display: none;
}

.avatar-option__overlay {
    position: fixed;
    z-index: 4;
    inset: 0;
    background: rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transition: .2s;
}

.avatar-option__overlay.is-active {
    opacity: 1;
    visibility: visible;
}

.avatar__option.is-active {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.avatar__basic-info {
    display: flex;
    align-items: center;
    gap: var(--space-sm);
    padding: var(--space-sm);
    font-weight: bold;
    cursor: pointer;
}

.avatar__basic-info .user-name {
    font-weight: var(--font-weight-bold);
    color: var(--color-gray-darkest);
}


.avatar-image {
    width: var(--icon-base-width);
    border-radius: 100px;
    border: 1px solid var(--color-gray-lightest);
}

.option__list {
    padding: 0;
    margin: 0;
}

.option__item,
.nav__item {
    list-style-type: none;
}

.option__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-sm) var(--space-md);
    font-weight: bold;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    height: fit-content;
}

.option__item p {
    font-weight: var(--font-weight-medium);
}

.option__item:hover {
    background-color: var(--color-gray-lightest);
}

.option__item-image {
    width: calc(0.8*var(--icon-base-width));
}

.nav__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0.75rem;
    padding: 1rem 1rem;
}

.nav__item {
    font-size: 0.85rem;
    text-align: center;
    cursor: pointer;
}

.nav__item:hover {
    text-decoration: underline;
}