/* Header */
.header {
    background: var(--color-surface);
    border-bottom: 1px solid var(--color-border);
    position: sticky;
    top: 0;
    z-index: 50;
    height: var(--header-height);
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

/* header left: menu,  + search */
.header__left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 2;
    gap: var(--space-md);
    height: 100%;
}

.header__menu-btn {
    width: calc(1.2 * var(--header-height));
    height: var(--header-height);
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    cursor: pointer;
    transition: background .2s;
    color: var(--color-text-muted);
    border: none;
    margin-right: 0 var(--space-md);
}

.header__menu-btn:hover {
    background: var(--color-gray-lightest);
    outline: none;
}

.header__menu-btn img {
    width: var(--icon-base-width);
}

.header__logo {
    display: inline-flex;
    justify-content: flex-start;
}

.header__logo-img {
    height: var(--icon-base-height);
}

.header__search {
    display: flex;
    align-items: center;
    gap: var(--space-sm);
    height: calc(1.2 * var(--icon-base-height));
    max-width: calc(10 * var(--icon-base-width));
    width: 100%;
    padding: 0 var(--space-md);
    background: var(--color-gray-lightest);
    border-radius: var(--border-radius-pill);
    border: 1px solid var(--color-border);
}

.header__search-icon {
    width: calc(0.5 * var(--icon-base-width));
}

.header__search-input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    color: var(--color-text-body);
    font-size: var(--font-size-md);
    font-family: var(--font-family-body);
}

/* right: actions */
.header__right {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
    color: var(--color-text-muted);
    padding-right: var(--space-md);
    gap: var(--space-md);
}

.header__write-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text-muted);
    font-size: var(--font-size-md);
    font-family: var(--font-family-body);
    gap: var(--space-sm);
}

.header__write-btn:hover {
    color: var(--color-text-body);
    /* color: red; */
}

.header__notification-btn {
    width: var(--icon-base-width);
    height: var(--icon-base-height);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: background .2s;
    color: var(--color-text-muted);
}

.header__notification-btn:hover {
    background: var(--color-gray-lightest);
}

.header__avatar {
    width: calc(1.2 * var(--icon-base-width));
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
